/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

/*background blue color #d7eaf4
  header blue grade #1e2c9c to #4a62b5
  purple button 7061b9 to a8a2d0
  light purple 8781bd
  light blue for related articles badaef
  dark purple for footer 4c486d
  Related articles line 9f9aca

/***** GENERIC STYLES *************/
/**********************************/
body{
	background-color: #d7eaf4;
	line-height: 1.4em;
}
h2{
	color:#27349f;
}
.title{
	color:#1e2c9c;
	font-size: 2em;
}

.wrapper{
	width: 99%;
	margin: 0 auto;
}
.header_navigation{
	display:block;
	padding-bottom: 20px;
}
.header_navigation ul{
	display:block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.header_navigation li{
	display: block;
	margin-bottom: 5px;	
}

.header_navigation a{
	display: block;
	padding: 15px 20px;
	border-radius: 6px;
	background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a62b5+0,1e2c9c+100,1e2c9c+100 */
	background: #4a62b5; /* Old browsers */
	background: -moz-linear-gradient(top,  #4a62b5 0%, #1e2c9c 100%, #1e2c9c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a62b5), color-stop(100%,#1e2c9c), color-stop(100%,#1e2c9c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4a62b5 0%,#1e2c9c 100%,#1e2c9c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4a62b5 0%,#1e2c9c 100%,#1e2c9c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4a62b5 0%,#1e2c9c 100%,#1e2c9c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4a62b5 0%,#1e2c9c 100%,#1e2c9c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a62b5', endColorstr='#1e2c9c',GradientType=0 ); /* IE6-9 */
	;
	color: white;
	text-decoration: none;
}

/***************************/

.arthistory{
	display: block;
	background: white;
	margin: 0 auto;
	padding-top: 5px;

}
.arthistory p{
	font-size: 2em;
	color: #ddedf6;
}

.lady{
	display:none;
}

/**************************/
.cubism_picture {
	display: block;
	background-color: white;
	margin: 0 auto;
	width:80%;
}

.guitar {
    display:block;
    margin: 0 auto;   
}

.cubism_picture p{
	font-size: .5em;
	font-style: italic;
	display: block;
	text-align: center;
	margin: 0 auto;
}
/******************************/


/******************************/
.expressionism_picture {
	display: block;
	background-color: white;
	margin: 0 auto;
	width:80%;

}

.greyhound {
    display:block;
    margin: 0 auto;
}
.expressionism_picture p{
	font-size: .5em;
	font-style: italic;
	display: block;
	text-align: center;
	margin: 0 auto;
	width:80%;
}
/******************************/

.related_articles{
	display: block;
	background-color: #8781bd;

}
.related_articles h2{
	display: block;
	line-height: 50%;
	color:white;
	padding: 20px;
}
.related_articles p{
	display: block;
	color: white;
	text-align: left;
}	
.related_articles h3{
	display: block;
	line-height: 150%;
	color:#bcdef1;
}
.related_articles ul{
	display:block;
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: solid 1px #9f9aca;
}

.related_articles li{
	display: block;
	margin-bottom: 5px;	
	text-align: center;
	border-bottom: solid 2px #9f9aca;
}

.related_articles a{
	display: block;
	color:#bcdef1;
	font-size: .8em;
	text-align: right;
	padding-bottom: 40px;
}
/*******************************/
footer{
	display: block;
	background-color: #4c486d;
}

.footer_navigation{
	width:80%;
	margin: 0 auto;
}
.footer_navigation ul{
	display:block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer_navigation li{
	display: block;	
	text-align: center;
	padding: 20px 0px 20px 0px;
}

.footer_navigation a{
	display: block;
	color:white;
	font-size: .7em;
	line-height: 1.7em;
	font-weight: bold;
}
.doll{
	display:none;
}
.abstract{
	display:none;
}
.creepyman{
	display:none;
}
.eye{
	display:none;
}




@media screen and (min-width: 600px){

	.arthistory h1{
		color:#202d9d
	}

	.arthistory article{

	}


	.lady{
		display:block;
		margin:0 auto;
		width:25%;
		float:right;
		margin-top:5%;
		margin-right:5%;
		margin-bottom:5%;
	}
/*****************************/
	.cubism{
		padding-bottom: 3%;
		border-bottom: solid 2px #4c486d;
		border-width: 80%
	}

	.cubism_picture{
		display:block;
		margin:0 auto;
		width:25%;
		float:right;
		margin-right: 2%;	
	}
	
	.cubism_picture p{
		margin: 0 auto;
	}
/****************************/
	.expressionism_picture{
		display:block;
		margin:0 auto;
		width:25%;
		float:left;	
	}
	.expressionism_picture p{
		margin: 0 auto;
	}
/****************************/
	.related_articles{

	}
	.doll{
		display:block;
		margin:0 auto;
		width:15%;
		float:left;
	}
	.abstract{
		display:block;
		margin:0 auto;
		width:15%;
		float:left;
	}
	.creepyman{
		display:block;
		margin:0 auto;
		width:15%;
		float:left;
	}

/***************************/
	.footer_navigation{
		margin: 0 auto;
		width: 80%;
	}
	
	.footer_navigation nav{
		display: block;
		margin: 0 auto;

	}

	.footer_navigation ul{
		display:inline-block;
		width:39%;
		vertical-align: top

		
	}

	.footer_navigation li{
		display: block;
		margin: 0 auto;
		text-align: left;
	}
/******************************/

	
}
@media screen and (min-width: 800px){
	
	.title{
		color:#1e2c9c;
		font-size: 1.5em;
	}

	.header_navigation{
		display: inline-block;
	}
	.header_navigation nav{
		display: inline-block;
	}
	.header_navigation ul{
		display: inline-block;
	}
	.header_navigation li{
		display: inline-block;
	}
	.header_navigation q{
		display: inline-block;
	}

	.lady{
		display:none;
	}

	.eye{
		display:block;
		float:right;
	}
	.main_content{
		display:inline-block;
		width:100%; 
	}

	.cubism{
		display:inline-block;
		width:40%;
	}

	.expressionism{
		display:inline-block;
		width:40%;
	}

}







/***** SPECIFIC STYLES ************/
/**********************************/

